body,
body>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    background-color: rgb(2, 246, 226);
    box-sizing: border-box;
}

.divs {
    background-color: rgb(254, 254, 254);
    border: 1px solid rgb(2, 246, 226);
    box-sizing: border-box;
}
